@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai/Almarai-Regular.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai/Almarai-Regular.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai/Almarai-Bold.woff2");
  font-weight: 900;
}
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Almarai", sans-serif;
  scroll-behavior: smooth;
}
*::-moz-selection {
  background-color: #169ec5;
  color: #fff;
}
*::selection {
  background-color: #169ec5;
  color: #fff;
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #ccc;
}
*::-webkit-scrollbar-thumb {
  background: #169ec5;
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #169ec5;
}

.overflowNone {
  overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: #169ec5;
  opacity: 0.5;
  transition: all 0.5s linear;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #169ec5;
  opacity: 1;
}

.overflowNone {
  overflow: hidden;
}

@-webkit-keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes bounce-in-top {
  0% {
    transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-50px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-15px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes bounce-in-left {
  0% {
    transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-left {
  0% {
    transform: translateX(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-10px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@-webkit-keyframes pulsecust {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes pulsecust {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes pulse-shadow {
  100% {
    box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}
@keyframes pulse-shadow {
  100% {
    box-shadow: 0 0 0 10px rgba(255, 102, 0, 0), 0 0 0 20px rgba(255, 102, 0, 0);
  }
}
@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg) scale3d(1, 1, 1);
  }
  100% {
    transform: rotate(10deg) scale3d(1.5, 1.5, 1.5);
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    transform: scale3d(0.8, 0.8, 0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
/*dropdown animation*/
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes wave {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@keyframes wave {
  0%, 100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@-webkit-keyframes niceAnimate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes niceAnimate {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@-webkit-keyframes translation {
  0% {
    transform: translateZ(0%);
  }
  100% {
    transform: translateZ(10%);
  }
}
@keyframes translation {
  0% {
    transform: translateZ(0%);
  }
  100% {
    transform: translateZ(10%);
  }
}
@-webkit-keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-10px, 10px);
  }
  40% {
    transform: translate(-10px, -10px);
  }
  60% {
    transform: translate(10px, 10px);
  }
  80% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(0);
  }
}
@-webkit-keyframes translateX {
  0%, 100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@keyframes translateX {
  0%, 100% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@-webkit-keyframes translateY {
  0%, 100% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
}
@keyframes translateY {
  0%, 100% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
}
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@-webkit-keyframes shadow {
  0% {
    box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@keyframes shadow {
  0% {
    box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@-webkit-keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}
@keyframes rotate {
  0% {
    border-radius: 50% 60% 55% 40%;
  }
  25% {
    border-radius: 30% 10% 70% 20%;
  }
  50% {
    border-radius: 20% 40% 30% 60%;
  }
  75% {
    border-radius: 70% 20% 50% 30%;
  }
  100% {
    border-radius: 50% 60% 55% 40%;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
    transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}
@keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}
@-webkit-keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}
@keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}
@-webkit-keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }
  50% {
    opacity: 0;
    transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}
@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@-webkit-keyframes three-dots {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
}
@keyframes three-dots {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
}
@-webkit-keyframes opacitychange {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes opacitychange {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}
:root {
  --primary-color: #00bff5;
  --secondary-color: #1088be;
  --dark-color: #000;
  --dark-blue: #072a44;
  --gray-color: #919aa3;
  --semi-dark-color: #231f20;
  --light-color: #fff;
}

.custom-btn {
  width: 140px;
  height: 40px;
  background: linear-gradient(-180deg, #2ccbf9 0%, #169ec5 100%);
  border-radius: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  position: relative;
  justify-content: center;
  z-index: 9;
  overflow: hidden;
}
.custom-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  bottom: 0;
  left: 0;
  background-color: var(--dark-blue);
  transition: all 0.3s linear;
  z-index: -1;
}
.custom-btn span {
  color: var(--light-color);
  font-size: 18px;
  font-weight: 700;
}
.custom-btn:hover::after {
  height: 100%;
}
.custom-btn:hover span {
  -webkit-animation: storm 1s linear both;
          animation: storm 1s linear both;
}

.heading {
  width: 40%;
  margin: 0px auto 40px;
  text-align: center;
}
.heading h1 {
  color: var(--semi-dark-color);
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 20px;
}
.heading p {
  color: var(--gray-color);
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}

.navbar {
  width: 100%;
  padding: 8px 0px;
  background-color: var(--light-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.navbar.scrolled {
  box-shadow: 0px 0px 10px rgba(0, 191, 245, 0.2);
}
.navbar.scrolled .brand-name img {
  height: 60px !important;
}
.navbar .contain {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.navbar .contain .hamburger {
  display: none;
}
.navbar .contain .hamburger .line {
  width: 30px;
  height: 3px;
  background: linear-gradient(90deg, #1088be, #072a44);
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
}
.navbar .contain .hamburger.active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}
.navbar .contain .hamburger.active .line:nth-child(2) {
  width: 0px;
}
.navbar .contain .hamburger.active .line:nth-child(1), .navbar .contain .hamburger.active .line:nth-child(3) {
  transition-delay: 0.3s;
}
.navbar .contain .hamburger.active .line:nth-child(1) {
  transform: translateY(6.5px);
}
.navbar .contain .hamburger.active .line:nth-child(3) {
  transform: translateY(-15px) rotate(90deg);
}
.navbar .contain .brand-name img {
  width: 180px;
  height: 90px;
  transition: all 0.3s linear;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar .contain .data-contain {
  width: calc(100% - 400px);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.navbar .contain .data-contain .navbar-nav {
  flex-direction: row;
}
.navbar .contain .data-contain .navbar-nav li {
  -webkit-margin-end: 30px;
          margin-inline-end: 30px;
}
.navbar .contain .data-contain .navbar-nav li:last-child {
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}
.navbar .contain .data-contain .navbar-nav li .nav-link {
  font-size: 14px;
  font-weight: 500;
  color: var(--dark-blue);
  position: relative;
  display: block;
  padding-bottom: 10px;
}
.navbar .contain .data-contain .navbar-nav li .nav-link::after {
  position: absolute;
  bottom: -5px;
  left: 50%;
  color: transparent;
  content: ".";
  text-shadow: 0 0 transparent;
  font-size: 2em;
  transition: text-shadow 0.3s, color 0.3s;
  transform: translateX(-50%);
  pointer-events: none;
  -webkit-animation: opacitychange 1s ease-in-out infinite;
          animation: opacitychange 1s ease-in-out infinite;
  line-height: 1;
}
.navbar .contain .data-contain .navbar-nav li .nav-link:hover, .navbar .contain .data-contain .navbar-nav li .nav-link.active {
  color: var(--primary-color);
}
.navbar .contain .data-contain .navbar-nav li .nav-link:hover::after, .navbar .contain .data-contain .navbar-nav li .nav-link.active::after {
  color: #2575fc;
  text-shadow: 10px 0 #1c1d3e, -10px 0 #1c1d3e;
}

header {
  width: 100%;
  padding: 150px 0px 40px 0px;
  background-color: rgba(7, 42, 68, 0.05);
  position: relative;
  z-index: 9;
}
header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 85%;
  background: linear-gradient(-270deg, #00bff5 0%, #1088be 100%);
  top: 0;
  left: 0;
  z-index: -1;
}
header .image-content {
  width: 100%;
  height: 500px;
}
header .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
  -webkit-animation: translateY 2s linear infinite;
          animation: translateY 2s linear infinite;
}
header .contain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .contain h1 {
  font-size: 30px;
  font-weight: 900;
  color: var(--light-color);
  margin-bottom: 25px;
}
header .contain p {
  color: var(--light-color);
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}

.services {
  width: 100%;
  padding: 40px 0px;
  background-color: rgba(7, 42, 68, 0.05);
}
.services .nav {
  width: 100%;
  display: flex;
  border: 0px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.services .nav li {
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}
.services .nav li:last-child {
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}
.services .nav li a {
  width: 120px;
  height: 40px;
  outline: 2px solid var(--dark-blue) !important;
  border: 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 500;
  position: relative;
  z-index: 9;
  overflow: hidden;
  color: var(--dark-blue);
}
.services .nav li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  background-color: var(--primary-color);
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s linear;
}
.services .nav li a:hover, .services .nav li a.active {
  outline-color: var(--primary-color) !important;
  color: var(--light-color);
}
.services .nav li a:hover::after, .services .nav li a.active::after {
  height: 100%;
}
.services .box {
  width: 100%;
  padding: 15px 10px;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 rgba(7, 42, 68, 0.1);
  display: flex;
  background-color: var(--light-color);
  justify-content: space-between;
  transition: all 0.3s linear;
  margin-bottom: 20px;
}
.services .box:last-child {
  margin-bottom: 0px;
}
.services .box .image-content img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.services .box .contain {
  width: calc(100% - 120px);
}
.services .box .contain .flex-data {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 15px;
  justify-content: space-between;
}
.services .box .contain .flex-data h2 {
  font-size: 24px;
  font-weight: 900;
  color: var(--dark-blue);
  margin-bottom: 0px;
}
.services .box .contain .flex-data .custom-btn {
  width: 180px;
}
.services .box .contain p {
  color: var(--dark-blue);
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}
.services .box:hover {
  transform: translateY(-10px);
}
.services .box:hover .image-content img {
  -webkit-animation: tada 0.3s linear both;
          animation: tada 0.3s linear both;
}
.services .box:hover h2 {
  color: var(--primary-color);
}
.services .tab-pane.fade {
  transform: translateY(-10px);
  opacity: 0;
  transition: all 0.3s linear;
}
.services .tab-pane.fade.active.show {
  transform: translateY(0px);
  opacity: 1;
}

.products {
  width: 100%;
  padding: 50px 0px;
  background-color: var(--light-color);
}
.products .box {
  width: 100%;
  height: 100%;
  min-height: 130px;
  border-radius: 6px;
  border: 1px dashed rgba(7, 42, 68, 0.2);
  box-shadow: 0 1px 1px 0 rgba(7, 42, 68, 0.05);
  padding: 20px 15px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 9;
  transition: all 0.3s linear;
  overflow: hidden;
}
.products .box::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, #2575fc, #1c1d3e);
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s linear;
}
.products .box p {
  color: #171c34;
  font-size: 19px;
  font-weight: 900;
  margin: 0px;
}
.products .box:hover {
  transform: translateY(-10px);
}
.products .box:hover::after {
  width: 100%;
}
.products .box:hover p {
  color: var(--light-color);
}

.partners {
  width: 100%;
  padding: 40px 0px;
  background-color: #f2f4f5;
  position: relative;
}
.partners .box {
  width: 100%;
  height: 170px;
  transition: all 0.3s linear;
}
.partners .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.3;
  transition: all 0.3s linear;
}
.partners .box:hover {
  transform: translateY(-10px);
}
.partners .box:hover img {
  opacity: 1;
}

.contact-us {
  width: 100%;
  padding: 40px 0px 20px;
  background-color: var(--light-color);
}
.contact-us .form-group {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  position: relative;
}
.contact-us .form-group.text-area {
  height: 80px;
}
.contact-us .form-group.text-area .form-control {
  padding: 10px 10px 0px;
}
.contact-us .form-group .form-control {
  width: 100%;
  height: 100%;
  background-color: #f8f9fb;
  padding: 0px 10px;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 500;
  color: #231f20;
  resize: none;
}
.contact-us .form-group .form-control::-moz-placeholder {
  color: rgba(33, 40, 50, 0.5);
  font-size: 15px;
  font-weight: 500;
}
.contact-us .form-group .form-control:-ms-input-placeholder {
  color: rgba(33, 40, 50, 0.5);
  font-size: 15px;
  font-weight: 500;
}
.contact-us .form-group .form-control::placeholder {
  color: rgba(33, 40, 50, 0.5);
  font-size: 15px;
  font-weight: 500;
}
.contact-us .form-group .form-control:hover, .contact-us .form-group .form-control:focus, .contact-us .form-group .form-control:active {
  border-color: #212832;
  background-color: var(--light-color);
}
.contact-us .form-group .form-control:hover::-moz-placeholder, .contact-us .form-group .form-control:focus::-moz-placeholder, .contact-us .form-group .form-control:active::-moz-placeholder {
  color: #212832 !important;
}
.contact-us .form-group .form-control:hover:-ms-input-placeholder, .contact-us .form-group .form-control:focus:-ms-input-placeholder, .contact-us .form-group .form-control:active:-ms-input-placeholder {
  color: #212832 !important;
}
.contact-us .form-group .form-control:hover::placeholder, .contact-us .form-group .form-control:focus::placeholder, .contact-us .form-group .form-control:active::placeholder {
  color: #212832 !important;
}
.contact-us .custom-btn {
  width: 100%;
  border-radius: 5px !important;
}
.contact-us .box {
  width: 100%;
  padding: 14px 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary-color);
}
.contact-us .box:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
}
.contact-us .box:first-child {
  padding-top: 0px;
}
.contact-us .box img {
  width: 30px;
  height: 30px;
  -o-object-position: contain;
     object-position: contain;
}
.contact-us .box .contain {
  width: calc(100% - 40px);
}
.contact-us .box .contain h2 {
  color: var(--dark-blue);
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 10px;
}
.contact-us .box .contain p {
  color: var(--gray-color);
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
}
.contact-us .box:hover img {
  -webkit-animation: tada 0.3s linear;
          animation: tada 0.3s linear;
}
.contact-us .box:hover h2 {
  color: var(--primary-color);
}

footer {
  width: 100%;
  padding: 60px 0px 40px;
  background-color: var(--primary-color);
  position: relative;
  z-index: 9;
}
footer .contain {
  display: flex;
  justify-content: space-between;
}
footer .contain img {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .contain p {
  width: calc(100% - 100px);
  color: var(--light-color);
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}
footer .social-contact {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
}
footer .social-contact h1 {
  font-size: 30px;
  font-weight: 900;
  color: var(--light-color);
  position: relative;
  z-index: 9;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
footer .social-contact h1::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: #f7b500;
  bottom: 0;
  right: 0px;
  border-radius: 10px;
}
footer .social-contact p {
  color: var(--light-color);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 25px;
}
footer .social-contact .socail-icons {
  display: flex;
  align-items: center;
  align-content: center;
}
footer .social-contact .socail-icons li {
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
footer .social-contact .socail-icons li:last-child {
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}
footer .social-contact .socail-icons li a {
  width: 25px;
  height: 25px;
  display: flex;
}
footer .social-contact .socail-icons li a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .social-contact .socail-icons li a:hover img {
  -webkit-animation: tada 0.3s linear both;
          animation: tada 0.3s linear both;
}

.copyrights {
  width: 100%;
  padding: 15px 0px;
  background-color: var(--dark-blue);
}
.copyrights p {
  width: 100%;
  text-align: center;
  color: var(--light-color);
  font-size: 15px;
  font-weight: 500;
  margin: 0px;
}

@media (max-width: 999px) {
  .mobile-order-0 {
    order: 0 !important;
  }
  .mobile-order-1 {
    order: 1 !important;
  }
  .navbar .hamburger {
    display: block !important;
  }
  .navbar .data-contain {
    width: 100% !important;
    height: 100vh;
    position: absolute;
    top: 100px;
    right: -100%;
    padding: 20px 15px;
    background-color: #fff;
    flex-direction: column !important;
    justify-content: flex-start !important;
    transition: all 0.3s linear;
  }
  .navbar .data-contain.active-nav {
    right: 0px;
  }
  .navbar .data-contain .navbar-nav {
    width: 100%;
    z-index: 99;
    flex-direction: column !important;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }
  .navbar .data-contain .navbar-nav li {
    width: 100%;
    margin: 0px !important;
    padding: 10px 0px;
    border-bottom: 1px solid rgba(175, 30, 44, 0.3);
  }
  .navbar .data-contain .navbar-nav li:last-child {
    border-bottom: 0px !important;
  }
  .navbar .data-contain .navbar-nav li a {
    width: 100%;
  }
  .navbar .brand-name img {
    -o-object-position: left !important;
       object-position: left !important;
  }
  .navbar.scrolled .data-contain {
    top: 75px;
    height: 100vh;
  }
  header .image-content {
    height: 300px;
  }
  .heading {
    width: 100%;
  }
  .services .box {
    flex-direction: column;
    justify-content: center;
  }
  .services .box .contain {
    width: 100%;
    padding-top: 15px;
  }
  .services .box .contain .flex-data {
    flex-direction: column;
    align-items: flex-start !important;
  }
  .services .box .contain .flex-data .custom-btn {
    margin-top: 15px;
  }
  .services .nav {
    justify-content: flex-start;
  }
  .services .nav li {
    -webkit-margin-end: 10px;
            margin-inline-end: 10px;
    margin-bottom: 10px;
    width: 47%;
  }
  .services .nav li a {
    width: 100% !important;
  }
  .products .box {
    margin-bottom: 20px !important;
  }
  footer .social-contact {
    margin-right: unset !important;
  }
}/*# sourceMappingURL=style.css.map */